<% if (theme.mermaid && theme.mermaid.enable) { %>
  <script src='https://unpkg.com/mermaid@<%= theme.mermaid.version %>/dist/mermaid.min.js'></script>
  <script>
    if (window.mermaid) {
      mermaid.initialize({ theme: 'forest' });
    }
  </script>
  <% } %>
    <!-- Social Links -->
    <%- partial ("./_footer/social.ejs") %>

      <div class="copyright">
        <span class="power-by">
          <%- __('footer.powered', '<a class="hexo-link" href="https://hexo.io/">Hexo</a>' ) %>
        </span>
        <span class="division">|</span>
        <span class="theme-info">
          <%- __('footer.theme') %> -
            <a class="theme-link" href="https://github.com/ahonn/hexo-theme-even">Even</a>
        </span>

        <span class="copyright-year">
          <span>
            <% var current=(new Date()).getFullYear(); %>
              &copy;
              <% if (theme.since && theme.since !=current) { %>
                <%- theme.since -%> - <%- current -%>
                    <% } else { %>
                      <%- current -%>
                        <% } %>
          </span>

          <span class="heart">
            <i class="iconfont icon-heart"></i>
          </span>

          <span class="author"><%- config.author %></span>
        </span>

      </div>